extends ../layout

block content
  .page-header
    h3 Profile Information
    hr

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value=user.email)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') First name
      .col-sm-7
        input.form-control(type='text', name='firstName', id='firstName', value=user.profile.firstName)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') Last name
      .col-sm-7
        input.form-control(type='text', name='lastName', id='last_name', value=user.profile.lastName)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='city') City
      .col-sm-7
        select.select.form-control.input-md(name='city', id='city')
          option(value='0') -- Select --
          option(value='1', selected= user.profile.city == 1) Bucharest
          option(value='2', selected= user.profile.city == 2) Cluj
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='country') Country
      .col-sm-7
        select.select.form-control.input-md(name='country', id='country')
          option(value='0') -- Select --
          option(value='1', selected= user.profile.country == 1) Romania
          option(value='2', selected= user.profile.country == 2) Poland
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') Phone no.
      .col-sm-7
        input.form-control(type='text', name='phoneNo', id='phoneNo', value=user.profile.phoneNo)
    .form-group.row.justify-content-md-center
      .col-sm-4
        button.btn.btn.btn-primary(type='submit', id='updateProfile')
          i.fa.fa-pencil
          | Update Profile

  .page-header
    h3 Change Password
    hr

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group.row.justify-content-md-center
      .col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  .page-header
    h3 Delete Account
        hr
    
  form.form-horizontal(action='/account/delete', method='POST')
    .form-group.row.justify-content-md-center
      p.offset-sm-3.col-sm-7 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account

