extends ../layout

block content
  .page-header
    h3 Timetable
    //- h5 #{JSON.stringify(timetable)}
    hr
    each contentGroup, nameGroup in timetable
      h4 #{nameGroup}
      each contentSemester, nameSemester in contentGroup
        h5 Semester #{+nameSemester}
        table.calendar.table.table-bordered
          thead
            tr
              th &nbsp
              th Mon
              th Tue
              th Wed
              th Thu
              th Fri
              th Sat
              th Sun
          tbody
            each startHour in [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
              tr
                td #{startHour}:00
                each weekDay in [0, 1, 2, 3, 4, 5, 6]
                  //- If there is a block at this hour, in this weekday, display it
                  if contentSemester[startHour] && contentSemester[startHour][weekDay]
                    td.has-events(rowspan=contentSemester[startHour][weekDay].duration)
                      div.row-fluid
                        span.title #{contentSemester[startHour][weekDay].subject}
                        p
                        span.lecturer #{contentSemester[startHour][weekDay].professor}
                        p
                        span.location #{contentSemester[startHour][weekDay].room}
                  else
                    //- h6 We are at hour #{+startHour} weekday #{+weekDay}
                    //- Are we in a course that started 1 hour ago? If so, don't add an empty cell
                    if contentSemester[+startHour-1] 
                      if contentSemester[+startHour-1][+weekDay] 
                        if contentSemester[+startHour-1][+weekDay].duration > 1
                          //- h6 1 hour ago TTT #{+startHour-1} #{+weekDay} #{contentSemester[+startHour-1][+weekDay].duration}
                        else
                          td.no-events(rowspan="1")
                      else
                        td.no-events(rowspan="1")
                    //- Are we in a course that started 2 hours ago? If so, don't add an empty cell
                    else if contentSemester[+startHour-2] 
                      if contentSemester[+startHour-2][+weekDay] 
                        if contentSemester[+startHour-2][+weekDay].duration > 2
                          //- h6 2 hour ago TTT #{+startHour-2} #{+weekDay} #{contentSemester[+startHour-2][+weekDay].duration}
                        else
                          td.no-events(rowspan="1")
                      else
                        td.no-events(rowspan="1")
                    else 
                      td.no-events(rowspan="1")