extends ../layout

block content
  .page-header
    h3 Timetable
    h5 #{JSON.stringify(timetable)}
    hr
    each valueTT, indexTT in timetable
      each valueGroup, indexGroup in valueTT
        h4 Group #{indexGroup}
        each valueSemester, indexSemester in valueGroup
          h5 Semester #{+indexSemester}
          table.calendar.table.table-bordered
            thead
              tr
                th &nbsp
                th Monday
                th Tuesday
                th Wednesday
                th Thursday
                th Friday
                th Saturday
                th Sunday
            tbody
              each valueStartHour, indexStartHour in valueSemester
                each valueWeekday, indexWeekday in valueStartHour
                  tr
                    td #{indexWeekday}:00
                    each valueBlock, indexBlock in valueWeekday
                      each block, indexEntry in valueBlock
                        if block
                          td.has-events(rowspan=block.duration)
                            div.row-fluid
                              span.title #{block.subject}
                              p
                              span.lecturer #{block.professor}
                              p
                              span.location #{block.room}
                        else
                          td.no-events(rowspan="1")